body {
    margin: 0;
    font-family: "Noto Sans Tai Le", -apple-system, BlinkMacSystemFont,
        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

p {
    margin: 0;
}

/* Question Page Animation */
.active-answer {
    transition: 0.5s;
    height: auto;
    padding: 1rem;
}
.close-answer {
    transition: 0.5s;
    height: 0;
    overflow: hidden;
}

/* Home Page Swiper Button */
/* 強制蓋過 左右輪播箭頭 預設樣式 */
.swiper-button-next,
.swiper-button-prev {
    filter: brightness(0) invert(1);
}
